:root{
    --roxo:#820ad1;
    --mediumpurple:#4c0677;
    --deeppurple:#2f0549;
    --crimsonpurple:#bd0fea;
    --offwhite:#f4f4f4;
    --gray:#e4e4e4;
    --black:#000000;
    
}

body{
    background-color: lightgray;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 150ms ease-in-out;
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0em 2em 0em;
    background-color: var(--gray);
    height: 65px;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 3em;
    list-style-type: none;
    margin-top: 30px;
}

nav .li-list .a-list{
    color: var(--black);
    font-size: 1em;
    font-weight: bolder;
    text-decoration: none;
    transition: all 80ms ease-in-out;
}

nav .li-list .a-list:hover{
    border-bottom: 2px var(--black) solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: var(--crimsonpurple);
    display: flex;
    transform: scale(1.2);
    transform: translateY(2px);
}

.logo-icon .fa-solid.fa-piggy-bank{
    margin-left: 1em;
    position: static;
    font-size: 2em;
    color: black;
    transition: all 120ms ease-in-out;
    margin-top: .7em;
    scroll-behavior: smooth;
}

.logo-icon .fa-solid.fa-piggy-bank:hover{
    color: var(--crimsonpurple);
    transform: translateY(5px);
}

.user-icon .fa-solid.fa-user{
    color: var(--roxo);
    font-size: 1.5em;
    position: static;
    font-size: 2em;
    margin-top: .7em;
    margin-right: 1em;
    color: var(--crimsonpurple);
    transition: all 120ms ease-in-out;
}

.user-icon .fa-solid.fa-solid.fa-user:hover{
    transform: scale(1.2);
}


.section-background{
    background-color: var(--roxo);
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-background .text-section{
    color: var(--gray);
    display: flex;
    text-align: center;
    text-rendering: optimizeLegibility;
    align-items: center;
    grid-gap: 3em;
}



.advantage-section{
    padding: 1.5em 0em 0em 0em;
}

.section-background2{
    background-color: var(--black);
    height: 20em;
    margin: 3em 0em 3em 0em;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    right: 10em;
    opacity: 100%;
    animation: animacaoesquerda .5s ease forwards;
    box-shadow: 0px 0px 8px var(--deeppurple);
}


@keyframes animacaoesquerda {
    to{
        right: 0em;
        opacity: 100%;
    }
}


.section-background2 .text-section{
    color: var(--gray);
    display: flex;
    text-align: center;
    text-rendering: optimizeLegibility;
    align-items: center;
    grid-gap: 3em;
    
}

.section-background2 .text-section h2{
    margin-left: 3em;
    width: 5em;
    position: relative;
}

.section-background2 .text-section p{
    width: 65%;
    margin-left: 5em;
}

.section-background2 .text-section .fa-solid.fa-credit-card{
    
    color: var(--roxo);
    position: relative;
    right: 80px;
    bottom: -50px;
    font-size: 1.5em;
}

.section-background2 .text-section .fa-solid.fa-credit-card:hover{
    transform: rotate(30deg) scale(1.2);
}

/* Separação Section 3 */

.section-background3{
    background-color: var(--roxo);
    height: 20em;
    margin: 3em 0em 3em 0em;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    left: 50%;
    padding: 0em 0em 2em 0em;
    margin-right: -10em;
    opacity: 100%;
    animation: animacaodireita .5s ease forwards;
    box-shadow: 0px 0px 8px var(--deeppurple);
    
}

@keyframes animacaodireita {
    to{
        left: 35%;
        opacity: 100%;
    }
}


.section-background3 .text-section{
    color: var(--gray);
    display: flex;
    text-align: center;
    text-rendering: optimizeLegibility;
    align-items: center;
    grid-gap: 3em;
    
}

.section-background3 .text-section h2{
    margin-left: 3em;
    width: 12em;
    position: relative;
    
}

.section-background3 .text-section p{
    width: 65%;
    margin-left: 5em;
}

.section-background3 .text-section .fa-solid.fa-credit-card{
    
    color: var(--roxo);
    position: relative;
    right: 80px;
    bottom: -50px;
    font-size: 1.5em;
}


/* Section background 4 */

.section-background4{
    background-color: var(--mediumpurple);
    height: 20em;
    margin: 3em 0em 3em 0em;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    right: 0em;
    margin-right: -10em;
    opacity: 100%;
    animation: animacaodireita .5s ease forwards;
    box-shadow: 0px 0px 8px var(--deeppurple);
    
}



.section-background4 .text-section{
    color: var(--gray);
    display: flex;
    text-align: center;
    text-rendering: optimizeLegibility;
    align-items: center;
    grid-gap: 3em;
    
}

.section-background4 .text-section h2{
    margin-left: 3em;
    width: 12em;
    position: relative;
    
}

.section-background4 .text-section p{
    width: 65%;
    margin-left: 5em;
}

.section-background4 .text-section .fa-solid.fa-credit-card{
    
    color: var(--roxo);
    position: relative;
    right: 80px;
    bottom: -50px;
    font-size: 1.5em;
}


/* Section background 5 */

.section-background5{
    background-color: var(--black);
    height: 20em;
    margin: 3em 0em 3em 0em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    right: 0em;
    margin-right: -10em;
    opacity: 100%;
    animation: animacaodireita .5s ease forwards;
    box-shadow: 0px 0px 8px var(--deeppurple);
    
}



.section-background5 .text-section{
    color: var(--gray);
    display: flex;
    text-align: center;
    text-rendering: optimizeLegibility;
    align-items: center;
    grid-gap: 3em;
    
}


.section-background5 .text-section .form-register{
    display: grid;
    gap: 1em;
}

.section-background5 .text-section h2{
    margin-left: 3em;
    width: 12em;
    position: relative;
    
}

.section-background5 .text-section p{
    width: 65%;
    margin-left: 5em;
}


input{
    width: 15em;
    justify-content: center;
    background-color: transparent;
    border: 2px var(--gray) solid;
    border-radius: 3px 3px 3px 3px;
    height: 2em;
    color: var(--gray);
    font-weight: bolder;
    text-align: center;
}

input:focus{
    transform: scale(1.1);
    
}

input::placeholder{
    color: var(--gray);
    
}

footer{
    margin: 0;
    display: block;
    position: static;
    bottom: 0;
}

.btn-confirm{
    width: 15em;
    justify-content: center;
    background-color: transparent;
    border: 2px var(--gray) solid;
    border-radius: 3px 3px 3px 3px;
    height: 2em;
    color: var(--gray);
    font-weight: bolder;
    cursor: pointer;
}

.btn-confirm:hover, .btn-confirm:focus{
    background-color: var(--gray);
    color: var(--black);
    position: relative;
    
}
